<div class="parallax-container">
  <div class="parallax">
      <img src="https://materializecss.com/templates/parallax-template/background1.jpg">
  </div>
</div>

<div class="section white">
  <div class="row container">
    <div class="col12">

      <h2 class="header"> Saudi International Dental Conference </h2>
      <div class="event-location">
        <span> Location :
          <b>Riyadh</b>
        </span>
      </div>
      <p class="grey-text text-darken-3 lighten-3">
        The Saudi International Dental Conference provides a wide-ranging opportunity for all Dental Professionals, Dental Assistants,
        Dental Hygienists, and Dental Technologists with regard to new advances in Dental Practices, simultaneously set in
        different specialties.


      </p>
    </div>
  </div>
</div>
<script>

</script>
